body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

li {
  margin: 10px;
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loader {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.loadMoreBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}
